# MongoDB Configuration (Legacy - to be removed)
VITE_MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=Cluster0
VITE_MONGODB_DB_NAME=hcms_db

# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
